body{
  margin:0;
  background:#070707;
  color:white;
  font-family:sans-serif;
}

nav{
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#0f0f0f;
}

nav h2{
  color:#00ffd5;
}

nav a{
  color:white;
  text-decoration:none;
}

.hero{
  text-align:center;
  padding:100px 20px;
}

.hero h1{
  font-size:50px;
  color:#00ffd5;
  text-shadow:0 0 20px #00ffd5;
}

.hero p{
  color:#ccc;
  margin-bottom:30px;
}

.btn{
  background:#00ffd5;
  color:black;
  padding:14px 30px;
  border-radius:12px;
  text-decoration:none;
  font-weight:bold;
}

.pricing{
  display:flex;
  flex-direction:column;
  gap:20px;
  padding:20px;
}

.card{
  background:#111;
  padding:25px;
  border-radius:20px;
  border:1px solid #00ffd5;
  box-shadow:0 0 15px rgba(0,255,213,0.3);
}

.card h2{
  color:#00ffd5;
}